doctype html
html
  head
    title xFair Resume Drop

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css')

    script(src='/static/jquery/dist/jquery.min.js')

    link(rel='icon' href='/static/img/favicon.png')

    link(rel='stylesheet' href='/static/bootstrap/dist/css/bootstrap.min.css')
    script(src='/static/bootstrap/dist/js/bootstrap.min.js')

    link(rel='stylesheet' href='/static/css/base.css')
    script(src='/static/js/base.js')

    block extra-headers
  body
    div.container
      block content
