extends base

block extra-headers
  script(src='/static/dropzone/dist/min/dropzone.min.js')

  link(rel='stylesheet', href='/static/css/index.css')
  script(src='/static/js/index.js')

block content
  div.row
    div.col-sm-8.col-sm-offset-2
      h1 xFair
      h2 Resume Drop
      form(action="/upload", class="dropzone", id="resume-dropzone")
