extends base
block extra-headers
  script(src='/static/js/record.js')
  link(rel='stylesheet', href='/static/css/record.css')

  script(src='/static/sweetalert/dist/sweetalert.min.js')
  link(rel='stylesheet', href='/static/sweetalert/dist/sweetalert.css')

  - if (success)
    script window.show_alert = true

block content
  h1 xFair Resume Drop
  div.row
    div.col-sm-8.col-sm-offset-2
      form(method='POST')
        != form.toHTML()
        div.row#links
          div.col-sm-12
            a(href=record.s3_url, target="_blank") View your resume
            a(href="/" + record.uuid + "/update", target="_blank") Update your resume
        div.form-group
          button.btn.btn-info.col-sm-12(type='submit')
            - if (record.filled_out)
              | Make changes!
            - else
              | Submit info
