@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

:root {
  --link: #1b512d;
  --link-background: #73e2a7;
  --link-invert: #c4e89e;
  --link-invert-background: #DEF4C63f;

  --primary: #1c7c54;
  --primary-light: #1c7c54;
  --secondary: #1c7c54;
  --secondary-dark: #1B512D;

  --grad-top: #cef1a8;
  --grad-third: #bbe390;
  --grad-bot: rgb(168, 236, 115);
  --gray-box: #9999993f;
}

body {
  font-family: "Work Sans", sans-serif;
  background: linear-gradient(var(--grad-top), var(--grad-bot) 70%);
  background-attachment: fixed;
  color: #4387b6;
  min-height: 100%;
  font-size: 1.5rem;
}

.logo {
  width: 90%;
  max-width: 400px;
  margin: 10vh auto 0;
  display: block;
}

.line-plane {
  position: fixed;
  z-index: -1;
  left: 0;
  width: 95%;
  margin-top: -15vh;
}

@media (max-width: 50rem) {
  .line-plane {
    display: none;
  }
}

h2 {
  text-align: center;
  /* font-weight: 500; */
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-size: 5rem;
  margin-bottom: 10rem;
}
