.dz-preview {
  display: none;
}

body {
  background-color: #05354e;
  color: white;
  text-align: center;
}

.logo {
  width: 400px;
  margin-top: 20%;
  margin-bottom: 5%;
}

h2 {
  letter-spacing: .15em;
}

h1, h2, h3 {
  text-align: center;
  font-weight: 300;
}

form {
  margin-top: 3em;
  color: gray;
  border: 2px dashed gray;
  cursor: pointer;
  height: 10em;
  text-align: center;
  padding: 4em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

