label {
  font-weight: bold;
  text-transform: uppercase;
}

.error_msg {
  color: red;
}

#links {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

#links a {
  margin: 0 1em;
  font-weight: bold;
  color: #40a6ab;
}

.btn.btn-info {
  background-color: #f45b69;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.9rem 2rem;
  font-weight: 600;
  border-radius: 3rem;
  border: none;
  outline: none;
  transition: 0.2s;
  margin: auto;
  letter-spacing: 0.5px;
}

.btn.btn-info:active,
.btn.btn-info:hover {
  background-color: #f45b69;
}

.form-control {
  padding: 5px 10px 5px 7.5px;
}

option {
  padding: 0.5rem 0.7rem;
}

.btn-container {
  text-align: center;
}
